body{
  width:981px;
 /* max-width: 700px;*/
/*  width: :60vw;*/
	margin-left:auto;
  margin-right: auto; 
/*	text-align: left;*/
	font:14px/1.33 Verdana, sans-serif;
  box-shadow: 5px 5px 25px #888888;

}

/*.icon-ginko {
    background-image: url("favicon5.ico");
    background-position: center center;
}*/


.conent{
  width: auto;
}
	
#head { 
	font-weight:bold;
	font-size:20px;
	text-align: center;
	}

.shadow {
  -moz-box-shadow: 5px 5px 5px grey;
  -webkit-box-shadow: 5px 5px 5px grey;
  box-shadow: 5px 5px 5px grey;
}

.select_width{
  width:350px;
}

/*input[type="checkbox"]{*/
/*NOTE:  .classname will work for inputs as well :))))*/
.checkbox{
cursor: pointer;
-webkit-appearance: none;
appearance: none;
/*background: #34495E;*/
background: white;
border-radius: 6px;
box-sizing: border-box;
/*position: relative;*/
box-sizing: content-box ;
width: 120px;
height: 30px;
border-width: 0;
margin-bottom: -10px;
transition: all .3s linear;
background: url(select_if_now.png) 96% / 100% no-repeat white;
z-index: -1; 

}
input[type="checkbox"]:checked{
  /*background-color: #33aaff;*/
  background: url(now.png) 96% / 100% no-repeat #33aaff;
  border-width: 2;
  border-color: black;
  z-index: 1000; 
}
input[type="checkbox"]:focus{
  outline:  #000000;
  box-shadow: none;
}

    input[type=radio] {
    border: 0px;
    width: 30px;
    height:30px;
}

input[type="text"] {
	font-size: 20px;
}

#head {
  font-weight:bold;
  font-size:20px;
  text-align: center;
  }

#head2 {
  font-weight:bold;
  font-size:15px;
  text-align: center;
  margin-top:10px;
  margin-bottom:10px;
  }

.shadow {
  -moz-box-shadow: 5px 5px 5px grey;
  -webkit-box-shadow: 5px 5px 5px grey;
  box-shadow: 5px 5px 5px grey;
}

.center_header{
  text-align: center !important;
}


table {
  font-weight:normal;
  font-size:14px;
  border-collapse: collapse;
  }
table th{
  background-color:   #C8C8C8;
  padding: 5px;
}
table.center {margin-left:auto;
  margin-right:auto;
  font-weight:normal;
  font-style:normal;
  }
table.table {
    border-collapse: collapse;
    height: 100px;

  }
table.table th{
    border: 1px solid black;
    background-color:   #bbc6d1;
    text-align:center;
    padding: 5px;
  }
table.table td{
    border: 1px solid black;
    padding-left: 5px;
  }
table.table tr:nth-child(even){
  background-color: #f2f2f2;
  }
table.hover tbody tr:hover{
    background-color: #D3D3D3;
}

/*~~~~~~~~~~~ TABLE SCROLLING ~~~~~~~~~~~~~~~*/
table.scroll {
    border-collapse: collapse;
    height: 50px;
    border-spacing: 0;
}

table.scroll tbody,
table.scroll thead { display: block; }

table.scroll thead th {
    border: 1px solid black;
    /*background-color: #32ED2C;*/
    text-align:center;
  /*width:75px;*/
}

table.scroll tbody {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tr:nth-child(even){
  background-color: #f2f2f2;
}

table.scroll tbody td{
  /*width:75px;*/
  border: 1px solid black;
}

table.global thead th{
  width:200px;
}
table.noScroll {
    border-collapse: collapse;
    height: 50px;
    border-spacing: 0;
}

table.noScroll tbody,
table.noScroll thead { display: block; }

table.noScroll thead th {
    border: 1px solid black;
    background-color: #32ED2C;
    text-align:center;
}

table.noScroll tbody {
    /*max-height: 500px;*/
    overflow-y: auto;
    /*overflow-x: hidden;*/
}

table.noScroll tr:nth-child(even){
  background-color: #f2f2f2;
}

table.noScroll tbody td{
  border: 1px solid black;
}
/*~~~~~~~~~~~ TABLE SCROLLING ~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~ Tooltip style   ~~~~~~~~~~~~~~~*/
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    /*margin-left: -60px;*/
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

td.scaleIntensity{
  font-size: 24px;
}
/* HTML

<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>

*/

/*~~~~~~~~~~~ Tooltip style   ~~~~~~~~~~~~~~~*/

.raised {
    /*box-shadow: inset 1px 1px 10px #000000;*/
    box-shadow: inset 1px 1px 8px #8e8d8d;
}






/*NAVBAR*/
  .page-header {
    background-color: #3700B3;
  }
  .navbar{
    background-color: #6200EE;
    box-shadow: 5px 5px 10px #888888;
  }
  .navbar-brand {
    font-size: 1.5em;
    border-radius: 2px;
  }
  .navbar-brand:hover {
    background-color: #7F44F7;
    box-shadow: 2px 2px 5px 3px darkgrey;
    border-radius: 2px;
    border-style:solid;
      border-width:.5px;
  }
  .navbar-text {
    font-size: 1.5em;
  }

#menu p{
	font-size:14px;
	font-weight:normal;
	font-style:normal;
	}
	
/*#datamap{
	margin-top:12px;
	margin-left:15px;
	}*/
#datamap_home{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
  }
#menu ol{
	font-weight:normal;
	font-style:normal;
	font-size:14px;
	}
#termlist ul{
	 list-style-type:none;
}

#submit{
  text-align:center;
}
#submit input{
	margin-top: 10px;
	border-radius: 6px;
  border-width: 2px;
  border-color: black;
	font:19px/1.33 Verdana, sans-serif;
	font-weight:bold;
	color: #A65100;
}

#submit input:hover{
  background: lightgrey;
}
/*for aligning columns withough cells*/
span.tab{
  display: inline-block !important; 
  width: 150px !important; 
}

.footer_div {
  background-color: #F5F5F5;

}
.footer {
  color: black;
}
	
option.red_text{color: red;}
	



